

body {
  text-align: center;
  margin: 20px;
  vertical-align: middle;
 }

 h1 {
  font-style: italic;
  color: black;
  font-size: 400%;
 }

 footer {
  font-style: italic;
  color: black;
  font-size: 175%;
 }

 #navbar {
  font-style: italic;
  color: black;
  font-size: 100%;
  padding: auto;
  margin-bottom: 50px;
 }

 #searchbar {
  font-style: italic;
  color: black;
  font-size: 200%;
  max-height: 0%;  
 }

 #about2 {
  text-align: center;
  margin: 150px;
  }

  #about3 {
    font-size: larger;
    margin: 10px;
  }

  button {
    width: 150px;
  }
