

body {
  text-align: center;
  margin: 20px;
  vertical-align: middle;
  /* background-image: url(https://wallpaperaccess.com/full/695765.jpg); */
  background-image: url(https://images8.alphacoders.com/111/1110066.jpg);
  background-size: auto;

  border: 2px solid;
  text-shadow: white 0px 0px 2px;
  

 }

 h1 {
  font-style: italic;
  color: black;
  font-size: 400%;
 }

 footer {
  font-style: italic;
  color: black;
  font-size: 175%;
 }

 #navbar {
  font-style: italic;
  color: black;
  font-size: 100%;
  padding: auto;
  margin-bottom: 50px;
 }

 #searchbar {
  font-style: italic;
  color: black;
  font-size: 200%;
  max-height: 0%;  
 }

 #about2 {
  text-align: center;
  margin: 150px;
  }

  #about3 {
    font-size: larger;
    margin: 10px;
  }

  button {
    font-size: xx-large;
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: transparent;
  }
